.country-search-box {
    width: 300px;
    margin: 20px;
    margin-bottom: 500px;
  }
  
  .country-search-heading {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  .country-search-container {
    display: flex;
    justify-content: space-between;
  }
  
  #country-search-input {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
  }
  
  #country-search-button {
    border-radius: 0px;
    background-color: lightgray;
    color: black;
  }
  
  #country-search-suggestions {
    list-style-type: none;
    padding: 0;
  }
  
  #country-search-suggestions li {
    padding: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  #country-search-suggestions li:hover {
    background-color: #f0f0f0;
  }
  